body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #dedede;
}

@media screen and (max-width: 920px){
 nav>ul>li{
   display: block;
   width: 100%;
   margin: 0%;
 } 
}

*{
  margin: 0;
  padding: 0;
}


nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
  height: max-content;
}

ul{
  text-align: center;
  height: 100%;
}
li{
  margin: 0px 30px;
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
a{
 color: white;
 text-decoration: none;
}

li:hover{
  background-color: cadetblue;
  color: white;
}

a:focus{
 color:chartreuse; 
}

a:active{
  background-color: cadetblue;
  color: red;
}


