body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
form{
  padding: 10px;
}
label{
  width: 100%;
}
input[type="text"],input[type="email"]{
  width: 80%;
}
#block{
  margin-top: 10px;
}
